[package]
name = "slot"
version = "0.4.0"
edition = "2021"

[dependencies]
anyhow = "1.0.75"
axum = "0.6"
clap = { version = "4.2", features = ["derive"] }
chrono = "0.4.31"
ctrlc = "3.4.1"
dirs = "5"
env_logger = "0.10"
graphql_client = "0.13.0"
log = "0.4"
rand = "0.8.4"
reqwest = { version = "0.11.20", default-features = false, features = [
    "rustls-tls",
    "json",
] }
serde = "1"
serde_json = "1"
termion = "2.0.1"
thiserror = "1.0.32"
tokio = { version = "1.18.2", features = ["full", "sync"] }
tower-http = "0.4"
tracing = "0.1.34"
urlencoding = "2"
webbrowser = "0.8"
starknet = "0.6.0"

[[bin]]
name = "slot"
path = "src/main.rs"
